<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900">
  <style>
  /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.grid,.unit{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.grid{display:block;clear:both}.grid .unit{float:left;width:100%;padding:10px}.grid .unit:first-child{padding-left:20px}.grid .unit:last-child{padding-right:20px}.unit .unit:first-child{padding-left:0}.unit .unit:last-child{padding-right:0}.unit .grid:first-child>.unit{padding-top:0}.unit .grid:last-child>.unit{padding-bottom:0}.no-gutters .unit,.unit.no-gutters{padding:0 !important}.wrap .grid,.grid.wrap{max-width:978px;margin:0 auto}.grid .whole,.grid .w-1-1{width:100%}.grid .half,.grid .w-1-2{width:50%}.grid .one-third,.grid .w-1-3{width:33.3332%}.grid .two-thirds,.grid .w-2-3{width:66.6665%}.grid .one-quarter,.grid .one-fourth,.grid .w-1-4{width:25%}.grid .three-quarters,.grid .three-fourths,.grid .w-3-4{width:75%}.grid .one-fifth,.grid .w-1-5{width:20%}.grid .two-fifths,.grid .w-2-5{width:40%}.grid .three-fifths,.grid .w-3-5{width:60%}.grid .four-fifths,.grid .w-4-5{width:80%}.grid .golden-small,.grid .w-g-s{width:38.2716%}.grid .golden-large,.grid .w-g-l{width:61.7283%}.grid{*zoom:1}.grid:before,.grid:after{display:table;content:"";line-height:0}.grid:after{clear:both}.align-center{text-align:center}.align-left{text-align:left}.align-right{text-align:right}.pull-left{float:left}.pull-right{float:right}.unit img{max-width:100%}@media screen and (max-width: 568px){.grid:not(.no-stacking-on-mobiles)>.unit{width:100% !important;padding-left:20px;padding-right:20px}.unit .grid .unit{padding-left:0px;padding-right:0px}.center-on-mobiles{text-align:center !important}.hide-on-mobiles{display:none !important}}@media screen and (min-width: 1180px){.wider .grid,.grid.wider{max-width:1180px;margin:0 auto}}.highlight .hll{background-color:#ffc}.highlight .c{color:#87ceeb}.highlight .err{color:#ffffff}.highlight .g{color:#ffffff}.highlight .k{color:#f0e68c}.highlight .l{color:#ffffff}.highlight .n{color:#ffffff}.highlight .o{color:#ffffff}.highlight .x{color:#ffffff}.highlight .p{color:#ffffff}.highlight .cm{color:#87ceeb}.highlight .cp{color:#cd5c5c}.highlight .c1{color:#87ceeb}.highlight .cs{color:#87ceeb}.highlight .gd{color:#0000c0;font-weight:bold;background-color:teal}.highlight .ge{color:#c000c0;text-decoration:underline}.highlight .gr{color:#c0c0c0;font-weight:bold;background-color:#c00000}.highlight .gh{color:#cd5c5c}.highlight .gi{color:#ffffff;background-color:#0000c0}.highlight span.go{color:#add8e6;font-weight:bold;background-color:#4d4d4d}.highlight .gp{color:#ffffff}.highlight .gs{color:#ffffff}.highlight .gu{color:#cd5c5c}.highlight .gt{color:#c0c0c0;font-weight:bold;background-color:#c00000}.highlight .kc{color:#f0e68c}.highlight .kd{color:#f0e68c}.highlight .kn{color:#f0e68c}.highlight .kp{color:#f0e68c}.highlight .kr{color:#f0e68c}.highlight .kt{color:#bdb76b}.highlight .ld{color:#ffffff}.highlight .m{color:#ffffff}.highlight .s{color:#ffffff}.highlight .na{color:#ffffff}.highlight .nb{color:#ffffff}.highlight .nc{color:#ffffff}.highlight .no{color:#ffa0a0}.highlight .nd{color:#ffffff}.highlight .ni{color:#ffdead}.highlight .ne{color:#ffffff}.highlight .nf{color:#ffffff}.highlight .nl{color:#ffffff}.highlight .nn{color:#ffffff}.highlight .nx{color:#ffffff}.highlight .py{color:#ffffff}.highlight .nt{color:#f0e68c}.highlight .nv{color:#98fb98}.highlight .ow{color:#ffffff}.highlight .w{color:#ffffff}.highlight .mf{color:#ffffff}.highlight .mh{color:#ffffff}.highlight .mi{color:#ffffff}.highlight .mo{color:#ffffff}.highlight .sb{color:#ffffff}.highlight .sc{color:#ffffff}.highlight .sd{color:#ffffff}.highlight .s2{color:#ffffff}.highlight .se{color:#ffffff}.highlight .sh{color:#ffffff}.highlight .si{color:#ffffff}.highlight .sx{color:#ffffff}.highlight .sr{color:#ffffff}.highlight .s1{color:#ffffff}.highlight .ss{color:#ffffff}.highlight .bp{color:#ffffff}.highlight .vc{color:#98fb98}.highlight .vg{color:#98fb98}.highlight .vi{color:#98fb98}.highlight .il{color:#ffffff}.highlight .bash .nv{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}/*!
  </style
  <link rel="icon" type="image/x-icon" href="https://bunto.github.io/favicon.ico">
<title>Join a <%= org_id %> Affinity Team</title>
</head>
<body class="wrap">
  <header role="banner">
  <nav class="mobile-nav show-on-mobiles">
      <ul>
          <li>
            <a href="/">Teams</a>
          </li>
          <li>
            <a href="https://bunto.github.io/docs/home/">
                Bunto Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span>
            </a>
          </li>
          <li>
            <a href="https://bunto.github.io/help/"><span class="hide-on-mobiles">Getting </span>Help</a>
          </li>
          <li>
            <a href="https://github.com/bunto/bunto"><span class="hide-on-mobiles">View on </span>GitHub</a>
          </li>
        </ul>

  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a href="https://bunto.github.io">
          <span class="sr-only">Bunto</span>
          <img src="https://bunto.github.io/img/logo-2x.png" width="249" height="115" alt="Bunto Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      <ul>
          <li>
            <a href="/">Teams</a>
          </li>
          <li>
            <a href="https://bunto.github.io/docs/home/">
                Bunto Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span>
            </a>
          </li>
          <li>
            <a href="https://bunto.github.io/help/">Getting Help</a>
          </li>
          <li>
            <a href="https://github.com/bunto/bunto"><span class="hide-on-mobiles">View on </span>GitHub</a>
          </li>
        </ul>
    </nav>
  </div>
</header>
  <section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Join a <%= org_id %> affinity team.</p>
    </div>
    <!-- DISABLED
    <div class="unit whole">
      What is this? Read @SuriyaaKudOisc's blog post on the Bunto blog,
      <a href="https://bunto.github.io/news/20??/??/??/making-it-easier-to-contribute-to-bunto/">"Making it easier to contribute to Bunto"</a>.
    </div>
    -->
  </div>
</section>
<section>
    <%= yield %>
</section>
  <footer role="contentinfo">
  <div class="grid">
    <div class="unit two-thirds center-on-mobiles">
      <p>The contents of this website are <br />&copy;&nbsp;2016-present under the terms of the <a href="https://github.com/bunto/teams/blob/master/LICENSE">MIT&nbsp;License</a>.</p>
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      <p></p>
    </div>
  </div>
</footer>

</body>
</html>

