<div class="grid">
    <div class="unit whole">
        <h2>Success!</h2>
        <p>
          You've successsfully joined <%= org_id.capitalize %>'s "<%= team.name %>" team.
          Be sure to check your email and accept the invite. Once you have done that, you're in!
        </p>
        <p>
          <a href="/">Join another team?</a>
        </p>
    </div>
</div>
